<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ServerName" value="" />
    <add key="DatabaseName" value="" />
    <add key="UserName" value="" />
    <add key="Password" value="" />

    <add key="DataSource" value="" />
    <add key="AttachDbFilename" value="" />
    <add key="IntegratedSecurity" value="" />
    <add key="ConnectTimeout" value="" />
  </appSettings>
</configuration>